.trivia {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .trivia__titulo {
    margin-bottom: 2rem;
  }

  .opcion {
    border: 1px solid white;
    padding: 0.6rem;
    margin-bottom: 1rem;
    min-width: 18rem;
    transition: 0.3s ease-in;

    &:hover {
      cursor: pointer;
      transform: translateY(-3px);
      transition-duration: 150ms;
      background-color: $secundario-degradado;
    }
  }

  .correcto {
    border: 2px solid rgb(113, 201, 113);
  }

  .falso {
    border: 2px solid red;
  }
}
