@import "./estilos/vars";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

.bg-main {
  background-color: $primario;
  color: white;
}
